@tailwind base;
@tailwind components;
@tailwind utilities;

.cinzel {
    font-family: var(--font-cinzel);
}

.faunaOne {
    font-family: var(--font-faunaOne);
}

/* .text-outline {
    -webkit-text-stroke-width: .01rem;
    -webkit-text-stroke-color: black;
} */

*,
*::before,
*::after {
    @apply cursor-none
}

@keyframes heroTextAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

:body {
    --opacity-animation: heroTextAnimation
}

.opacity-animation {
    animation-name: heroTextAnimation;
}

.heroText1 {
    animation-name: heroTextAnimation;
    animation: heroTextAnimation 2.5s 1 ease-in;
}

.heroText2 {
    animation-name: heroTextAnimation;
    animation: heroTextAnimation 3s 1 ease-in;
}

.heroText3 {
    animation-name: heroTextAnimation;
    animation: heroTextAnimation 3.5s 1 ease-in;
}

.heroText4 {
    animation-name: heroTextAnimation;
    animation: heroTextAnimation 4s 1 ease-in;
}

.heroText5 {
    animation-name: heroTextAnimation;
    animation: heroTextAnimation 4.5s 1 ease-in;
}

.bgTransition {
    animation-name: heroTextAnimation;
    animation: heroTextAnimation 2s 1 ease-in;
}