@tailwind base;
@tailwind components;
@tailwind utilities;


.cinzel {
    font-family: var(--font-cinzel);
}

body {
    @apply bg-accent
}

.faunaOne {
    font-family: var(--font-faunaOne);
}

/* .text-outline {
    -webkit-text-stroke-width: .01rem;
    -webkit-text-stroke-color: black;
} */

/* *,
*::before,
*::after {
    @apply cursor-none
} */

@keyframes heroTextAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

:body {
    --opacity-animation: heroTextAnimation
}

.opacity-animation {
    animation-name: heroTextAnimation;
}

.heroText1 {
    animation-name: heroTextAnimation;
    animation: heroTextAnimation 0s ease-in 1 0s;
}

.heroText2 {
    animation-name: heroTextAnimation;
    animation: heroTextAnimation .2s ease-in 1;
}

.heroText3 {
    animation-name: heroTextAnimation;
    animation: heroTextAnimation .4s ease-in 1;
}

.heroText4 {
    animation-name: heroTextAnimation;
    animation: heroTextAnimation .6s ease-in 1;
}

.heroText5 {
    animation-name: heroTextAnimation;
    animation: heroTextAnimation .8s ease-in 1;
}

.bgTransition {
    animation-name: heroTextAnimation;
    animation: heroTextAnimation 100ms 1;
}


.boxGradiant {
    background: rgb(253, 29, 29);
    background: linear-gradient(90deg, rgba(253, 29, 29, 1) 0%, rgba(211, 29, 253, 1) 50%, rgba(252, 176, 69, 1) 100%);
    box-shadow: 0 0px 2px 2px rgba(240, 46, 170, 0.7);
}

.carouselText {
    transform: translateX(-250px);
}

.carouselItem:hover .carouselText {
    transform: translateX(0px);
}

/* 
.eventDetailText {
    transform: translateX(-300px);
}

.eventBox:hover .eventDetailText {
    transform: translateX(0px);
} */

.eventDetailText {
    transform: scale(0)
}

.eventBox:hover .eventDetailText {
    transform: scale(1);
}

.eventSubPage {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);

}